#admin{
    margin: 24px;
    box-shadow: 1px 1px 4px gray;
    padding: 12px;
}
#user-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 24px;
    margin-right: 24px;
    
}
#user-img{
    border-radius: 50%;
    height: 100px;
}
#top{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    
}
#mid{
    padding: 0 24px;
    display: flex;
}
.quote-container{
    margin: 24px 0;
    padding: 24px;
    box-shadow: 1px 1px 1px gray;
    background-color: #dcdcdc6b;
}
#bottom-bar{
    margin-top: 24px;
}
#admin-content{
    display: flex;
    flex-direction: column;
}
.admin-content-box{
    margin: 24px 0;
}