@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
/*font-family: 'Open Sans', sans-serif; */

.App{
    display: block;
    min-height: 100vh;
    width: 100vw;
    background-color: lightcyan;
    font-family: 'Open Sans', sans-serif;
    font-size:15px;
}
.navbar-thin{
    height:40px;
    width:100%;
    background-color: white;
    position:sticky;
    top:0px;
    z-index:100;
    border-bottom: 1px solid #74b01b;
    display: flex;
    justify-content: flex-end;
}

.navbar{
    
    height: 120px;
    width: 100%;
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;    
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,74b01b+54 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(116,176,27,1) 54%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(116,176,27,1) 54%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(116,176,27,1) 54%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#74b01b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


}
.logo{
    background-image: url('./../img/header1.png');
    height:100%; 
    background-repeat: no-repeat;
    
}
.banner-logo-text{
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: #193297;
    font-weight: bold;
    font-size:18px;
    text-shadow: 1px 2px white;
}
.navbar div{
    display:flex;
    width: 100%;
    justify-content: space-around;
    
}
/*
Applies to all Components
*/
.Component{
    width:100%;
    min-height: calc(100% - 440px);
    background-color: white;
}


#footer{
    height: 280px;
    background-color: white;  /*74b01b*/
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    
}
#cams-seal{
    width: 180px;
    height: 180px;
}
#seal-img{
    opacity: 1;
}

@media (max-width: 500px){
    .logo{
        background-size: 400px;  
              
    }
    .App{
        width: 100vw;
    }
    .Component{
        width: 100vw;
    }
    .btn{
        margin-right:0;
    }
    .navbar{
        height:80px;
    }
    .Component{
        min-height: calc(100% - 400px);
    }
}

h3 {
    letter-spacing: 1.8px;
    line-height: 1.2;
    font-family: 'Open Sans', sans-serif;
    font-size:1.1em;
}
p {
    letter-spacing: 1.8px;
    line-height: 1.2;
    font-family: 'Open Sans', sans-serif;
    font-size:.9em;

}


li {
    list-style-position: inside;
    margin-top:8px;
    line-height: 1.2;
    margin-left: 20px;
    text-indent: -1.4em;
    
}
h4{
    color:blue;
}
li {
    list-style-type: disc;
    
}
li p, li h4{
    margin-left: 20px;
}
