@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
/*font-family: 'Open Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
/*font-family: 'Roboto', sans-serif;*/

.App{
    display: block;
    min-height: 100vh;
    width: 100vw;
    background-color: rgb(238, 238, 238);
    font-family: 'Roboto', sans-serif;
    font-size:15px;
}
.navbar-thin{
    height:40px;
    width:100%;
    background-color: #183394;
    position:sticky;
    top:0px;
    z-index:100;
    /* border-bottom: 1px solid #74b01b; */
    display: flex;
    justify-content: flex-end;
    padding-right: 24px;
    
    
}

.navbar{
    
    height: 120px;
    width: 100%;
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;    
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,74b01b+54 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(116,176,27,1) 54%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(116,176,27,1) 54%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(116,176,27,1) 54%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#74b01b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


}
.logo{
    background-image: url('./../img/header1-alt.png');
    height:100%; 
    background-repeat: no-repeat;
    
}
/* .banner-logo-text{
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: #193297;
    font-weight: bold;
    font-size:18px;
    text-shadow: 1px 2px white;
} */
.navbar div{
    display:flex;
    width: 100%;
    justify-content: space-around;
    
}
/*
Applies to all Components
*/
.Component{
    /* width:100%; */
    min-height: calc(100vh - 440px);
    background-color: white;
}


#footer{
    height: 280px;
    background-color: rgba(116,176,27,1);  /*74b01b*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    
}
#cams-seal{
    width: 180px;
    height: 180px;
}
#seal-img{
    opacity: 1;
}


h3 {
    letter-spacing: 1.8px;
    line-height: 1.2;
    font-family: 'Roboto', sans-serif;
    font-size:1.2em;
    text-align: center;
    font-weight: bold;
    color: #183394;
}
p {
    letter-spacing: .05em;
    line-height: 1.2;
    font-family: 'Roboto', sans-serif;
    font-size:.9em;

}
.p h3{
    text-align: center;
}



li {
    list-style-position: inside;
    margin-top:8px;
    line-height: 1.2;
    margin-left: 20px;
    text-indent: -1.4em;
    
}
h4{
    color:#183395;
    font-size:1.1em;
    margin-bottom: 8px;
}
li {
    list-style-type: disc;
    
}
li p, li h4{
    margin-left: 20px;
}
/*
text body formatting
*****/
.home--body{
    padding: 24px;
    display: flex;
    width: 100vw;
    background-color: rgb(238, 238, 238);
}

.text-body{
    width: 75%;
    padding-top: 12px;
    padding: 22px;
    background-color: white;
    box-shadow: 1px 1px 5px gray;
}
.left-side-panel{
    padding: 12px;
    margin-right: 24px;
    width: 25%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-shadow: 1px 1px 5px gray;
}
.h3{
    text-align: right;
    padding: 0 4% 0 0;
}

.p{
    text-align: left;
    padding: 0 20% 0 4%;
}
a{
    color: #74b01b;
}
.quoted{
    text-align: right;
    width: 100%;
}
#nyc-img{
    margin: 0 auto;
    min-width: 70%;
    max-width: 100%;
    height:auto;
}

#seal{
    margin: 0 auto;
    max-width: 100%;
}
/****************************************/
.hvr-underline-from-center{
    background-color:#183394;
    color:white;
    font-size: 1em;
    font-family: Roboto, sans-serif
}
.home--body{
    padding: 24px 2% 24px 24px; /*because whitespace*/
}
@media(max-width:800px){
    .navbar-thin{
        padding: 0;
    }
    
    .logo{
        background-position: 0 0;
    }
    .home--body{
        padding: 24px
    }
    .left-side-panel{
        width:30%;
    }
    .text-body{
        width:70%;
    }
}
@media(max-width:500px){
    .hvr-underline-from-center{
        font-size: .8em;
    }
    .home--body{
        padding: 24px;
    }
}