.App{
    display: block;
    height: 100vh;
    width: 98vw;
    background-color: lightcyan;
}
.navbar-thin{
    height:40px;
    width:100%;
    background-color: white;
    position:sticky;
    top:0px;
    z-index:100;
    border-bottom: 1px solid #74b01b;
    display: flex;
    justify-content: flex-end;
}

.navbar{
    
    height: 120px;
    width: 100%;
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;    
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,74b01b+54 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(116,176,27,1) 54%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(116,176,27,1) 54%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(116,176,27,1) 54%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#74b01b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


}
.logo{
    background-image: url('./../img/header1.png');
    height:100%; 
    background-repeat: no-repeat;
    
}
.banner-logo-text{
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: #193297;
    font-weight: bold;
    font-size:18px;
    text-shadow: 1px 2px white;
}
.navbar div{
    display:flex;
    width: 100%;
    justify-content: space-around;
    
}
/*
Applies to all Components
*/
.Component{
    width:100%;
    min-height: calc(100% - 240px);
    background-color: white;
}


.footer{
    height: 80px;
    background-color: #74b01b;
    
}

@media (max-width: 500px){
    .logo{
        background-size: 400px;        
    }
    .App{
        width: 100vw;
    }
    .btn{
        margin-right:0;
    }
}