/****text inside**/
.bg200{
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    font-size: 42px;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px rgb(10, 84, 150);
    background-repeat: no-repeat;
    letter-spacing: .08em;
}
.bg200::after{
    content:'';
    background: white;
    width:180px;
    height: 3px;
    margin: 18px auto;
    box-shadow: 1px 1px 1px rgb(10, 84, 150);

}
/*****/

.bg200{    
    height: 300px;    
    width: 100%;
    background-attachment: fixed;
    background-position: center 40px;
    background-size: auto;
    border-bottom:1px solid #74b01b;
    /* background-repeat: no-repeat; */
} 
.homebg{ /*home.js*/
    background-image: url('./../img/business-meeting1920x420color.jpg');
}
.pricingbg{ /*pricing.js*/
    background-image: url('./../img/regulatory1920x420color.jpg');
}
.regulatorybg{ /*regulatory.js*/
    background-image: url('./../img/desk1920x420color.png');
}
.searulebg{ /*sea.js*/
    background-image: url('./../img/capitol1920x420color.jpg');      
}
.contactbg{ /*contact.js*/
    background-image: url('./../img/letter1920x420color.jpg');
}
/***small screens */
    /* .pricingbg{
        background-position: -220px -60px;
        background-size: 180% 80%;
    }
    .homebg{
        background-size: 400% 100%;
        background-position: 80px 40px;        
    }  
    
    .searulebg{
        background-size: 240% 100%;
        background-position: 80px 0;
    }
} */
@media(max-width: 800px){
    
    .bg200{
        height:180px;  
        background-attachment: fixed;
        background-position: center 40px;   
        font-size:32px;
    }
    .homebg{
        background-image: url('./../img/home800x300color.jpg');
    }
    .pricingbg{
        background-image: url('./../img/pricing800x300color.jpg')
    }
    .regulatorybg{
        background-image: url('./../img/desk800x300color.png')
    }
    .searulebg{
        background-image: url('./../img/capitol800x300color.jpg')
    }
    .contactbg{
        background-image: url('./../img/letter800x300color.jpg')
    }
}

    
@media(max-width: 500px){
    .logo{
        background-size: 400px;  
    }
    .home--body{
        flex-direction: column-reverse;
    }
    .regulatory-notices{
        width:100%
    }
    .text-body{
        width: 100%;
        margin-bottom: 12px;
    }
    .bg200{
        height:120px;  
        background-attachment: fixed;
        background-position: center 40px;   
        font-size: 28px;
    }
    .bg200::after{
        width:100px;
        margin: 12px auto;
    }
    .homebg{
        background-image: url('./../img/home500x200color.jpg');
    }
    .pricingbg{
        background-image: url('./../img/regulatory500x200color.jpg')
    }
    .regulatorybg{
        background-image: url('./../img/desk500x200color.png')
    }
    .searulebg{
        background-image: url('./../img/capitol500x200color.jpg')
    }
    .contactbg{
        background-image: url('./../img/letter500x200color.jpg')
    }





    .App{
        width: 100vw;
    }
    .Component{
        width: 100vw;
    }
    .btn{
        margin-right:0;
    }
    .navbar{
        height:80px;
    }
    .Component{
        min-height: calc(100% - 400px);
    }
}
/*
    .homebg{
        background-position: -340px 40px;
    }
    .pricingbg{
        background-position: -220px -60px;
        background-size: 180% 80%;
    }
    
    .searulebg{
        background-position: 0px -200px;
        background-size: 200% 100%;
    }
    .contactbg{
        background-size: 200% 100%;
        background-position: -40px -280px;
    }
    
} */
/**

4:3
------
1024x768
1280x960
1400x1050
1600x1200
1920x1440
--------


16:10  [desktop]
--------
1280x800
1440x900
1680x1050
1920x1200



2560x1600
--------
[phones]  ? portrait ? 
---------
[tablets]

/**aspect ratio media queries*/
@media (aspect-ratio: 16/10), (aspect-ratio: 16/9) { /*1920x1200*/
    .bg200{        
        background-attachment: fixed;
        background-position: center 40px;
        /* background-size: contain; */
    }    
    .homebg{
        background-image: url('./../img/business-meeting1920x420color.jpg');
    }
    .pricingbg{
        background-image: url('./../img/regulatory1920x420color.jpg');
    }
    .regulatorybg{
        background-image: url('./../img/desk1920x420color.png');
    }
}