
.contact-container{
    width:100%;
    min-height:100%;
    background:#c6f87600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    padding-left:12px;
    padding-top:12px;
    padding-bottom: 12px;
}
#name-input{
    height: 32px;
    width: 20%;
    margin-bottom: 8px;
    font-family: 'Open Sans', sans-serif;
    background-color: #dffdaf;

}

#email-input{
    height: 32px;
    width: 20%;
    margin-bottom: 8px;
    font-family: 'Open Sans', sans-serif;
    background-color: #dffdaf;
}
#message-input{
    height: 180px;
    width: 60%;
    vertical-align: top;
    overflow-y: auto;
    overflow-wrap: wrap;
    font-family: 'Open Sans', sans-serif;
    max-height:180px;
    max-width:60%;
    background-color: #dffdaf;
}

.border-bottom{
    margin-left: 8%;
    width: 80%;
    height: 20px;
    margin-bottom: 12px;
    border-bottom: 1px solid gray;
}
#about{
    background-color:rgb(0, 255, 213);
    width:100%;
    min-height:400px;
    padding: 18px;
}