@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
/*font-family: 'Open Sans', sans-serif; */

.home-first-section{
    widows: 100%;
    background: white;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.explanation{
    width:80%;
    padding-left:12px;
    line-height:1.2;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
}
.border-bottom{
    margin-left: 8%;
    width: 80%;
    height: 20px;
    margin-bottom: 12px;
    border-bottom: 1px solid gray;
}
.services-description{
    padding-left: 20%;
    padding-right: 16px;
}
.services-description h3{
    text-align: right;
}

.services-description1{
    padding-right: 20%;
    padding-left: 16px;
}
.services-description1{
    background-color: rgb(255, 255, 255);
}