.Pricing{
    display:flex;
    flex-direction: column;
    width:100%;
}


.border-bottom{
    margin-left: 8%;
    width: 80%;
    height: 20px;
    margin-bottom: 12px;
    border-bottom: 1px solid gray;
}

.pricing-headers{
    font-weight:500;
    color:#183395;
}