#reg1{
    background-image: url('./../img/desk.png');
    background-repeat: no-repeat;
    background-size: 100% 90%; /*60 on small screen*/
    background-position:  top center;
    background-attachment: fixed;
    height:200px;  /*180 on small screen*/
    padding-left:60%;  
}
.border-bottom{
    margin-left: 8%;
    width: 80%;
    height: 20px;
    margin-bottom: 12px;
    border-bottom: 1px solid gray;
}
.services-description{
    padding-left: 20%;
    padding-right: 16px;
}
.services-description h3{
    text-align: right;
}

.services-description1{
    padding-right: 20%;
    padding-left: 46px;
}
.services-description1{
    background-color: rgb(255, 255, 255);
}


